<style>
	.page-info {
		display: flex;
		align-items: center;
		margin: 0 10px;
		font-size: 20px;
	}

	.page-info .total-pages {
		margin-left: 5px;
		font-weight: bold;
	}
</style>

<div class="app-content content ">
	<div class="content-overlay"></div>
	<div class="header-navbar-shadow"></div>
	<div class="content-wrapper">
		<div class="content-header row">
			<div class="content-header-left col-md-9 col-12 mb-1">
				<div class="row breadcrumbs-top">
					<div class="col-12">
						<h2 class="content-header-title float-start mb-0">Items</h2>
						<div class="breadcrumb-wrapper">
							<ol class="breadcrumb">
								<li class="breadcrumb-item">
									<a href="{{ URL }}/admin">Home</a>
								</li>
								<li class="breadcrumb-item active">Items</li>
							</ol>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12 col-md-12 col-lg-3 col-sm-6">
				<div class="card mb-1">
					<div class="card-body">
						<div class="border-bottom mb-1">
							<h4 class="card-title">Import Items</h4>
						</div>
						<div class="row">
							<form action="{{URL}}/admin/items/import" method="post" class="form form-vertical">
								<p class="badge badge-primary">{{ items_path }}</p>
								<label>Set server location in .env file</label>
								<div class="col-12">
									<button type="submit" class="btn btn-primary mt-1 waves-effect waves-float waves-light">Import</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-sm-6">
				<div class="card">
					<div class="card-body d-flex align-items-center justify-content-between">
						<div>
							<h3 class="fw-bolder mb-75">{{ total_items }}</h3>
							<span data-i18n="Total Items">Total Items</span>
						</div>
						<div class="avatar bg-light-primary p-50">
							<span class="avatar-content">
								<i data-feather="shield" class="feather feather-shield font-medium-4"></i>
							</span>
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-body d-flex align-items-center justify-content-between">
						<div class="input-group">
							<input type="text" id="search-input" class="form-control" placeholder="Search item">
							<button type="button" id="search-button" class="btn btn-primary">Search</button>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-12 col-lg-12 col-sm-12">
				{{ status|raw }}
			</div>
		</div>
		<div
			class="content-body">
			<!-- users list start -->
			<section
				class="app-user-list">
				<!-- list and filter start -->
				<div class="card">
					<div class="card-body border-bottom">
						<h4 class="card-title">Items</h4>
						<div class="row">
							<div class="col-md-4 user_role"></div>
							<div class="col-md-4 user_plan"></div>
							<div class="col-md-4 user_status"></div>
						</div>
					</div>
					<div class="card-datatable table-responsive pt-0">
						<table class="players-list-table table">
							<thead class="table-light">
								<tr>
									<th>ID</th>
									<th>Image</th>
									<th>Name</th>
									<th>Type</th>
									<th>Atk / Def / Armor / Size</th>
								</tr>
							</thead>
							<tbody>
								{% if itemGroup is not empty %}
									{% set groupSize = 10 %}
									{% set itemGroups = itemGroup|batch(groupSize) %}
									{% for itemGroup in itemGroups %}
										{% for item in itemGroup %}
											<tr class="item-row">
												<td>{{ item.item_id }}</td>
												<td><img src="{{ IMAGE_PATH }}/charactertrade/items/{{ item.item_id }}.gif">
													{{ item.item_id }}</td>
												<td>{{ item.name }}</td>
												<td>{{ item.type }}</td>
												<td>{{ item.level }}</td>
											</tr>
										{% endfor %}
									{% endfor %}
								{% endif %}
							</tbody>
						</table>
					</div>
					<div class="pagination" style="display: flex; justify-content: center;">
						<button class="btn btn-primary btn-prev" disabled style="margin-right: 10px;">Prev</button>
						<div class="page-info">
							<span class="page-number"></span>
							/
							<span class="total-pages"></span>
						</div>
						<button class="btn btn-primary btn-next" style="margin-left: 10px;">Next</button>
					</div>
				</div>
				<!-- list and filter end -->
			</section>
			<!-- users list ends -->
		</div>
	</div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
	$(document).ready(function () {
		var itemRows = $('.item-row');
		var groupSize = 10;
		var totalGroups = Math.ceil(itemRows.length / groupSize);
		var groupIndex = 0;

		var pageNumberElement = $('.page-number');
		var totalPageElement = $('.total-pages');
		var searchInput = $('#search-input');
		var searchButton = $('#search-button');

		function showGroup(index) {
			itemRows.hide();
			itemRows.slice(index * groupSize, (index + 1) * groupSize).show();

			if (index === 0) {
				$('.btn-prev').prop('disabled', true);
			} else {
				$('.btn-prev').prop('disabled', false);
			}

			if (index === totalGroups - 1) {
				$('.btn-next').prop('disabled', true);
			} else {
				$('.btn-next').prop('disabled', false);
			} pageNumberElement.html(index + 1 + "&nbsp;");
				totalPageElement.text(totalGroups);
			}

			if (itemRows.length === 0) {
				showGroup(-1);
				$('.btn-prev, .btn-next').prop('disabled', true);
			} else {
				showGroup(groupIndex);
			}


			$('.btn-prev').click(function () {
				groupIndex--;
				showGroup(groupIndex);
			});

			$('.btn-next').click(function () {
				groupIndex++;
				showGroup(groupIndex);
			});

			function performSearch() {
					var searchTerm = searchInput.val().toLowerCase();
					var filteredItems = itemRows.filter(function () {
					var itemName = $(this).find('td:nth-child(3)').text().toLowerCase();
					var itemId = $(this).find('td:nth-child(1)').text().toLowerCase();
					return itemName.includes(searchTerm) || itemId.includes(searchTerm);
				});
				itemRows.hide();
				filteredItems.show();
			}

			searchButton.click(function () {
				performSearch();
			});

			searchInput.keypress(function (e) {
				if (e.which === 13) {
					performSearch();
					return false;
				}
		});
	});
</script>
