<style>
	.success-message {
		font-size: 20px;
		text-align: center;
	}

	.no-click {
		cursor: not-allowed !important;
		outline: none !important;
		opacity: 0.35 !important;
	}

	.no-click:hover {
		border-color: #dc3545 !important;
	}

	.centered-text {
        text-align: center;
    }
</style>
<div class="app-content content ">
	<div class="content-overlay"></div>
	<div class="header-navbar-shadow"></div>
	<div class="content-wrapper">
		<div class="content-header row">
			<div class="content-header-left col-md-9 col-12 mb-1">
				<div class="row breadcrumbs-top">
					<div class="col-12">
						<h2 class="content-header-title float-start mb-0">Items</h2>
						<div class="breadcrumb-wrapper">
							<ol class="breadcrumb">
								<li class="breadcrumb-item">
									<a href="{{ URL }}/admin">Home</a>
								</li>
								<li class="breadcrumb-item active">Items</li>
							</ol>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12 col-md-12 col-lg-3 col-sm-6">
				<div class="card mb-1">
					<div class="card-body">
						<div class="border-bottom mb-1">
							<h4 class="card-title">Import Items</h4>
						</div>
						<div class="row">
							<form action="{{URL}}/admin/items/import" method="post" class="form form-vertical">
								<p class="badge badge-primary">{{ items_path }}</p>
								<label>Set server location in .env file</label>
								<div class="col-12">
									<button type="submit" class="btn btn-primary mt-1 waves-effect waves-float waves-light">Import</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-sm-6">
				<div class="card">
					<form action="{{URL}}/admin/items/deleteItems" method="post">
						<div class="card-body d-flex align-items-center justify-content-between">
							<div>
								<h3 class="fw-bolder mb-75">{{ total_items }}</h3>
								<span data-i18n="Total Items">Total Items</span>
							</div>
							<div class="avatar bg-light-primary p-50">
								<span class="avatar-content">
									<i data-feather="shield" class="feather feather-shield font-medium-4"></i>
								</span>
							</div>
						</div>
						<div class="card-footer text-right">
							<input type="submit" id="delete-all-button" name="items_delete" class="btn btn-danger w-100" data-i18n="Delete" value="Delete All Items" onclick="return confirm('Tem certeza que deseja truncar a tabela de itens? Isso não pode ser desfeito.');">
						</div>
					</form>
				</div>
			</div>
			<div class="col-lg-3 col-sm-6">
				<div class="card">
					<div class="card-body d-flex align-items-center justify-content-between">
						<div class="input-group">
							<input type="text" id="search-input" class="form-control" placeholder="Search item">
							<button type="button" id="search-button" class="btn btn-primary">Search</button>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-12 col-lg-12 col-sm-12">
				{% if success_message %}
					<div class="alert alert-success success-message">
						{{ success_message }}
					</div>
				{% endif %}
			</div>
		</div>
		<div
			class="content-body">
			<!-- users list start -->
			<section
				class="app-user-list">
				<!-- list and filter start -->
				<div class="card">
					<div class="card-body border-bottom">
						<h4 class="card-title">Items</h4>
						<div class="row">
							<div class="col-md-4 user_role"></div>
							<div class="col-md-4 user_plan"></div>
							<div class="col-md-4 user_status"></div>
						</div>
					</div>
					<div class="card-datatable table-responsive pt-0">
						<table class="players-list-table table">
							<thead class="table-light">
								<tr>
									<th class="centered-text">ID</th>
									<th class="centered-text">Image</th>
									<th class="centered-text">Name</th>
									<th class="centered-text">ShootType</th>
									<th class="centered-text">SlotType</th>
									<th class="centered-text">Type</th>
									<th class="centered-text">Magicpoints</th>
									<th class="centered-text">Atk</th>
									<th class="centered-text">Def</th>
									<th class="centered-text">ExtraDef</th>
									<th class="centered-text">Armor</th>
									<th class="centered-text">Size</th>
									<th class="centered-text">Range</th>
								</tr>
							</thead>
							<tbody>
								{% if itemGroup is not empty %}
									{% set groupSize = 1000 %}
									{% set itemGroups = itemGroup|batch(groupSize) %}
									{% for itemGroup in itemGroups %}
										{% for item in itemGroup %}
											<tr class="item-row">
												<td class="centered-text">{{ item.item_id }}</td>
												<td class="centered-text"><img src="{{ IMAGE_PATH }}/charactertrade/items/{{ item.item_id }}.gif"></td>
												<td class="centered-text">{{ item.name }}</td>
												<td class="centered-text">{{ item.shootType }}</td>
												<td class="centered-text">{{ item.slotType }}</td>
												<td class="centered-text">{{ item.type }}</td>
												<td class="centered-text">{{ item.magicpoints }}</td>
												<td class="centered-text">{{ item.attack }}</td>
												<td class="centered-text">{{ item.defense }}</td>
												<td class="centered-text">{{ item.extradef }}</td>
												<td class="centered-text">{{ item.armor }}</td>
												<td class="centered-text">{{ item.containersize }}</td>
												<td class="centered-text">{{ item.range }}</td>
											</tr>
										{% endfor %}
									{% endfor %}
								{% endif %}
							</tbody>
						</table>
					</div>
					{{ pagination|raw }}
				</div>
				<!-- list and filter end -->
			</section>
			<!-- users list ends -->
		</div>
	</div>
</div>

<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<script>
	$(document).ready(function () {
		const API_URL = '{{URL}}/api/v1/searchItem';
		const IMAGE_PATH = '{{IMAGE_PATH}}';

		var itemRows = $('.item-row');
		var groupSize = 1000;
		var totalGroups = Math.ceil(itemRows.length / groupSize);
		var groupIndex = 0;

		var pageNumberElement = $('.page-number');
		var totalPageElement = $('.total-pages');
		var searchInput = $('#search-input');
		var searchButton = $('#search-button');
		var tableBody = $('.players-list-table tbody');
		var deleteButton = $('[id="delete-all-button"]');

		function showGroup(index) {
			itemRows.hide();
			itemRows.slice(index * groupSize, (index + 1) * groupSize).show();
		}

		searchInput.on("input", function(){
			searchItems();
		});

		searchButton.click(function () {
			searchItems();
		});

		searchInput.keypress(function (e) {
			if (e.which === 13) {
				searchItems();
				return false;
			}
		});

		function searchItems() {
			var query = searchInput.val().trim();
			if (query === "") {
				tableBody.empty();
				return;
			}

			$.ajax({
				url: API_URL,
				type: 'post',
				data: { query },
				dataType: "json",
				success: function(data) {
					renderItems(data);
				},
				error: function(xhr, status, error) {
					console.error('Status:', status);
					console.error('Error:', error);
					console.error('Response:', xhr.responseText);
					showError('An error occurred while searching for items.');
				}
			});
		}

		function renderItems(data) {
			tableBody.empty();
			if (data.length > 0) {
				$.each(data, function(key, item){
					tableBody.append(
						`<tr class="item-row">
							<td class="centered-text">${item.item_id}</td>
							<td class="centered-text"><img src="${IMAGE_PATH}/charactertrade/items/${item.item_id}.gif" alt="Image of item ${item.name}"></td>
							<td class="centered-text">${item.name}</td>
							<td class="centered-text">${item.shootType}</td>
							<td class="centered-text">${item.slotType}</td>
							<td class="centered-text">${item.type}</td>
							<td class="centered-text">${item.magicpoints}</td>
							<td class="centered-text">${item.attack}</td>
							<td class="centered-text">${item.defense}</td>
							<td class="centered-text">${item.extradef}</td>
							<td class="centered-text">${item.armor}</td>
							<td class="centered-text">${item.containersize}</td>
							<td class="centered-text">${item.range}</td>
						</tr>`
					);
				});
			} else {
				showError('No items found.');
			}
		}


		function showError(message) {
			tableBody.append(`<tr class="item-row"><td colspan="5">${message}</td></tr>`);
		}

		var itemCount = $('.item-row').length;
		
		if (itemCount === 0) {
			deleteButton.prop('disabled', true);
			deleteButton.addClass('no-click');
		}
	});
</script>
